# ==================== TELEGRAM ====================
TELEGRAM_TOKEN=seu_token_do_telegram_aqui

# ==================== BANCO DE DADOS ====================
DATABASE_URL=postgresql://usuario:senha@host:porta/nome_do_banco

# ==================== 2CAPTCHA ====================
TWOCAPTCHA_API_KEY=sua_chave_do_2captcha_aqui